.matrix {
  padding: 0;
  margin: 0;
  background: #000;
  font-family: "Consolas";
}

.matrix .number {
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

.matrix .number.glow {
  -webkit-animation: glow 1s alternate;
  -moz-animation: glow 1s alternate;
  animation: glow 1s alternate;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@-webkit-keyframes glow {
  to {
    opacity: 1;
  }
}
