body {
  background: #000;
  font-family: "Consolas";
  padding: 0;
  margin: 0;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glow {
  -webkit-animation: glow 1s alternate;
  -moz-animation: glow 1s alternate;
  animation: glow 1s alternate;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@-webkit-keyframes glow {
  to {
    opacity: 1;
  }
}
